@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    @apply bg-bodycolor; 
  }

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
  }